@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC&family=Zilla+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Quicksand:wght@300&display=swap");

.input-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  border-radius: 4px 4px 4px;
}

#main {
  height: 45%;
}

#inx {
  height: calc(100% - 37px);
  width: 100%;
  font-family: "Noto Serif SC", serif;
  font-family: "Zilla Slab", serif;
  font-weight: 10;
  background: white;
  color: black;
}
